# editor
*.swp
.idea
.vscode/
.vs/

# Qt Creator
*.user
*.autosave
*.pro.user
*.qmlproject.user

# build
build/
cmake-build-*/
out/

# CMake
CMakeUserPresets.json

# binaries / objects
*.o
*.a
*.so
*.dylib
*.exe

# macOS
.DS_Store

# vcpkg
vcpkg-configuration.json
vcpkg.json